<% if @disciplines.blank? %>
  <div class="small-12 columns">
    <div class="alert callout">Nenhuma disciplina encontrada.</div>
  </div>
<% else %>
  <% @disciplines.each do |discipline| %>
    <li code="<%= discipline.code %>" class="block-list-item list-item-discipline search-discipline discipline"><%= "#{discipline.code} - #{discipline.name}" %></li>
  <% end %>
<% end %>
