<footer class="footer">
  <div class="row">
    <div class="small-4 columns footer-area text-center">
      <span class="text"><a href="<%= contact_us_path %>">Sugestões</a></div>
    <div class="small-4 columns footer-area text-center">
      <span class="text">Este site não tem nenhuma relação com a <a href="https://siac.ufba.br">Matrícula WEB</a>.</span>
    </div>
    <div class="small-4 columns footer-area text-center">
      <span class="text">Visite o MeuHorario <a href="http://meuhorario.dcc.ufba.br/">original</a>.</span>
    </div>
  </div>
</footer>
