<table>
  <tr>
    <th></th>
    <th>SEG</th>
    <th>TER</th>
    <th>QUA</th>
    <th>QUI</th>
    <th>SEX</th>
    <th>SAB</th>
  </tr>
  <tr>
    <th>07:00</th>
    <td id="d1t1"></td>
    <td id="d2t1"></td>
    <td id="d3t1"></td>
    <td id="d4t1"></td>
    <td id="d5t1"></td>
    <td id="d6t1"></td>
  </tr>
  <tr>
    <th>07:55</th>
    <td id="d1t2"></td>
    <td id="d2t2"></td>
    <td id="d3t2"></td>
    <td id="d4t2"></td>
    <td id="d5t2"></td>
    <td id="d6t2"></td>
  </tr>
  <tr>
    <th>08:50</th>
    <td id="d1t3"></td>
    <td id="d2t3"></td>
    <td id="d3t3"></td>
    <td id="d4t3"></td>
    <td id="d5t3"></td>
    <td id="d6t3"></td>
  </tr>
  <tr>
    <th>09:45</th>
    <td id="d1t4"></td>
    <td id="d2t4"></td>
    <td id="d3t4"></td>
    <td id="d4t4"></td>
    <td id="d5t4"></td>
    <td id="d6t4"></td>
  </tr>
  <tr>
    <th>10:40</th>
    <td id="d1t5"></td>
    <td id="d2t5"></td>
    <td id="d3t5"></td>
    <td id="d4t5"></td>
    <td id="d5t5"></td>
    <td id="d6t5"></td>
  </tr>
  <tr>
    <th>11:35</th>
    <td id="d1t6"></td>
    <td id="d2t6"></td>
    <td id="d3t6"></td>
    <td id="d4t6"></td>
    <td id="d5t6"></td>
    <td id="d6t6"></td>
  </tr>
  <tr>
    <th>13:00</th>
    <td id="d1t7"></td>
    <td id="d2t7"></td>
    <td id="d3t7"></td>
    <td id="d4t7"></td>
    <td id="d5t7"></td>
    <td id="d6t7"></td>
  </tr>
  <tr>
    <th>13:55</th>
    <td id="d1t8"></td>
    <td id="d2t8"></td>
    <td id="d3t8"></td>
    <td id="d4t8"></td>
    <td id="d5t8"></td>
    <td id="d6t8"></td>
  </tr>
  <tr>
    <th>14:50</th>
    <td id="d1t9"></td>
    <td id="d2t9"></td>
    <td id="d3t9"></td>
    <td id="d4t9"></td>
    <td id="d5t9"></td>
    <td id="d6t9"></td>
  </tr>
  <tr>
    <th>15:45</th>
    <td id="d1t10"></td>
    <td id="d2t10"></td>
    <td id="d3t10"></td>
    <td id="d4t10"></td>
    <td id="d5t10"></td>
    <td id="d6t10"></td>
  </tr>
  <tr>
    <th>16:40</th>
    <td id="d1t11"></td>
    <td id="d2t11"></td>
    <td id="d3t11"></td>
    <td id="d4t11"></td>
    <td id="d5t11"></td>
    <td id="d6t11"></td>
  </tr>
  <tr>
    <th>17:35</th>
    <td id="d1t12"></td>
    <td id="d2t12"></td>
    <td id="d3t12"></td>
    <td id="d4t12"></td>
    <td id="d5t12"></td>
    <td id="d6t12"></td>
  </tr>
  <tr>
    <th>18:30</th>
    <td id="d1t13"></td>
    <td id="d2t13"></td>
    <td id="d3t13"></td>
    <td id="d4t13"></td>
    <td id="d5t13"></td>
    <td id="d6t13"></td>
  </tr>
  <tr>
    <th>19:25</th>
    <td id="d1t14"></td>
    <td id="d2t14"></td>
    <td id="d3t14"></td>
    <td id="d4t14"></td>
    <td id="d5t14"></td>
    <td id="d6t14"></td>
  </tr>
  <tr>
    <th>20:20</th>
    <td id="d1t15"></td>
    <td id="d2t15"></td>
    <td id="d3t15"></td>
    <td id="d4t15"></td>
    <td id="d5t15"></td>
    <td id="d6t15"></td>
  </tr>
  <tr>
    <th>21:15</th>
    <td id="d1t16"></td>
    <td id="d2t16"></td>
    <td id="d3t16"></td>
    <td id="d4t16"></td>
    <td id="d5t16"></td>
    <td id="d6t16"></td>
  </tr>
</table>
