<table id="<%= table_id %>" class="<%= table_class %>">
  <tr>
    <th></th>
    <th>SEG</th>
    <th>TER</th>
    <th>QUA</th>
    <th>QUI</th>
    <th>SEX</th>
    <th>SAB</th>
  </tr>
  <tr>
    <th>07:00</th>
    <td class="d1h1"></td>
    <td class="d2h1"></td>
    <td class="d3h1"></td>
    <td class="d4h1"></td>
    <td class="d5h1"></td>
    <td class="d6h1"></td>
  </tr>
  <tr>
    <th>07:55</th>
    <td class="d1h2"></td>
    <td class="d2h2"></td>
    <td class="d3h2"></td>
    <td class="d4h2"></td>
    <td class="d5h2"></td>
    <td class="d6h2"></td>
  </tr>
  <tr>
    <th>08:50</th>
    <td class="d1h3"></td>
    <td class="d2h3"></td>
    <td class="d3h3"></td>
    <td class="d4h3"></td>
    <td class="d5h3"></td>
    <td class="d6h3"></td>
  </tr>
  <tr>
    <th>09:45</th>
    <td class="d1h4"></td>
    <td class="d2h4"></td>
    <td class="d3h4"></td>
    <td class="d4h4"></td>
    <td class="d5h4"></td>
    <td class="d6h4"></td>
  </tr>
  <tr>
    <th>10:40</th>
    <td class="d1h5"></td>
    <td class="d2h5"></td>
    <td class="d3h5"></td>
    <td class="d4h5"></td>
    <td class="d5h5"></td>
    <td class="d6h5"></td>
  </tr>
  <tr>
    <th>11:35</th>
    <td class="d1h6"></td>
    <td class="d2h6"></td>
    <td class="d3h6"></td>
    <td class="d4h6"></td>
    <td class="d5h6"></td>
    <td class="d6h6"></td>
  </tr>
  <tr>
    <th>13:00</th>
    <td class="d1h7"></td>
    <td class="d2h7"></td>
    <td class="d3h7"></td>
    <td class="d4h7"></td>
    <td class="d5h7"></td>
    <td class="d6h7"></td>
  </tr>
  <tr>
    <th>13:55</th>
    <td class="d1h8"></td>
    <td class="d2h8"></td>
    <td class="d3h8"></td>
    <td class="d4h8"></td>
    <td class="d5h8"></td>
    <td class="d6h8"></td>
  </tr>
  <tr>
    <th>14:50</th>
    <td class="d1h9"></td>
    <td class="d2h9"></td>
    <td class="d3h9"></td>
    <td class="d4h9"></td>
    <td class="d5h9"></td>
    <td class="d6h9"></td>
  </tr>
  <tr>
    <th>15:45</th>
    <td class="d1h10"></td>
    <td class="d2h10"></td>
    <td class="d3h10"></td>
    <td class="d4h10"></td>
    <td class="d5h10"></td>
    <td class="d6h10"></td>
  </tr>
  <tr>
    <th>16:40</th>
    <td class="d1h11"></td>
    <td class="d2h11"></td>
    <td class="d3h11"></td>
    <td class="d4h11"></td>
    <td class="d5h11"></td>
    <td class="d6h11"></td>
  </tr>
  <tr>
    <th>17:35</th>
    <td class="d1h12"></td>
    <td class="d2h12"></td>
    <td class="d3h12"></td>
    <td class="d4h12"></td>
    <td class="d5h12"></td>
    <td class="d6h12"></td>
  </tr>
  <tr>
    <th>18:30</th>
    <td class="d1h13"></td>
    <td class="d2h13"></td>
    <td class="d3h13"></td>
    <td class="d4h13"></td>
    <td class="d5h13"></td>
    <td class="d6h13"></td>
  </tr>
  <tr>
    <th>19:25</th>
    <td class="d1h14"></td>
    <td class="d2h14"></td>
    <td class="d3h14"></td>
    <td class="d4h14"></td>
    <td class="d5h14"></td>
    <td class="d6h14"></td>
  </tr>
  <tr>
    <th>20:20</th>
    <td class="d1h15"></td>
    <td class="d2h15"></td>
    <td class="d3h15"></td>
    <td class="d4h15"></td>
    <td class="d5h15"></td>
    <td class="d6h15"></td>
  </tr>
  <tr>
    <th>21:15</th>
    <td class="d1h16"></td>
    <td class="d2h16"></td>
    <td class="d3h16"></td>
    <td class="d4h16"></td>
    <td class="d5h16"></td>
    <td class="d6h16"></td>
  </tr>
</table>
