<% if @course %>
  <h1><%= @course.name %></h1>
  <h2><%= @course.curriculum %></h2>

  <% unless @semesters.blank? %>
    <% @semesters[1..-1].each do |semester| %>
      <div style="width: 160px; display: inline-block; vertical-align: top;">
        <% if semester %>
          <% semester.each do |discipline| %>
            <div style="height: 100px; width: 150px; background-color: lightgray; display:flex; justify-content:center; align-items:center; margin: 5px; cursor: pointer; text-align: center; vertical-align: top;"><%= discipline.name %></div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% else %>
  <h1>Curso não cadastrado</h1>
<% end %>