@import 'base';

.courses-content {
  padding-bottom: 20px;

  .courses-block {
    @include box-shadow(0.1);
    border: 1px solid #EEE;
    border-radius: 5px;
    background-color: $light_gray;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 40px;
    padding-top: 40px;
    margin-top: 20px;
    position: relative;

    .search-bar {
      border: 1px solid $gray;
      box-shadow: none;
      border-radius: 5px;
      height: 50px;
      padding-left: 75px;

      &:focus {
        border: 1px solid $dark_gray;
        box-shadow: none;
      }
    }

    span {
      position: absolute;
      margin-top: 10px;
      line-height: 1;
      font-size: 30px;
      padding-left: 15px;
      padding-right: 15px;
      border-right: 1px solid $gray;
    }

    .courses-list {
      padding-top: 60px;

      .course {
        @include transition();
        display: block;
        background-color: white;
        margin-top: 10px;
        color: $font_color;
        font-weight: 600;
        font-size: 16px;
        padding: 20px;

        &:hover {
          @include box-shadow(0.3);
        }
      }
    }
  }
}

@media only screen and (max-width: 40em) {
  .courses-content .courses-block {
    padding-left: 20px;
    padding-right: 20px;
  }
}
