@import 'sass-base';

.block {
  .search {
    .icon-search {
      position: absolute;
      margin-top: 10px;
      padding-left: 15px;
      padding-right: 15px;
      border-right: 1px solid $gray;
      font-size: 30px;
      line-height: 1;
    }

    .search-bar {
      padding-left: 75px;
      height: 50px;
      border: 1px solid $gray;
      border-radius: 5px;

      &:focus {
        border: 1px solid $dark_gray;
      }
    }
  }
}

.block-list {
  margin-left: 0;

  .block-list-item {
    @include transition();
    display: block;
    margin-top: 10px;
    padding: 20px;
    background-color: white;
    color: $font_color;
    font-size: 16px;
    font-weight: 600;

    &:hover {
      @include box-shadow(0.3);
    }
  }
}



@media only screen and (max-width: 40em) {
  .block {
    .search {
      .icon-search {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 20px;
        line-height: 30px;
      }

      .search-bar {
        padding-left: 50px;
      }
    }
  }
}
