.antiquewhite {
  background-color: #f0e8d0;
}

.aquamarine {
  background-color: #80ffd0;
}

.cadetblue {
  background-color: #60a0a0;
}

.cornflowerblue {
  background-color: #6090f0;
}

.khaki {
  background-color: #f0e890;
}

.greenyellow {
  background-color: #b0ff30;
}

.indianred {
  background-color: #d05860;
}

.lightblue {
  background-color: #b0d8e0;
}

.lightgreen {
  background-color: #90f090;
}

.lightpink {
  background-color: #ffb8c0;
}

.lightseagreen {
  background-color: #20b0a0;
}

.orchid {
  background-color: #d070d0;
}

.pink {
  background-color: #ffc0c0;
}

.yellowgreen {
  background-color: #90c830;
}

.goldgreen {
  background-color: #c5d31e;
}

.lightteal {
  background-color: #76bdf3;
}

.paleorange {
  background-color: #f0961a;
}

.faintpurple {
  background-color: #846181;
}

.colorfulgray {
  background-color: #849084;
}

.pinkishpurple {
  background-color: #d5a6d0;
}
