@import 'https://fonts.googleapis.com/css?family=Ruluko';



$font_color: #424242;
$light_gray: #F8F8F8;
$gray: darken(#F8F8F8, 20%);
$dark_gray: darken(#F8F8F8, 30%);
$moon_raker_blue: #C5C5F5;



@mixin transition() {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

@mixin box-shadow($radius) {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,$radius);
  -moz-box-shadow:    0px 0px 5px 0px rgba(0,0,0,$radius);
  box-shadow:         0px 0px 5px 0px rgba(0,0,0,$radius);
}



body {
  font-family: 'Ruluko', sans-serif !important;
  color: $font_color;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.header {
  padding-top: 5%;
  padding-bottom: 20px;
  border-bottom: 1px solid #BBB;
  margin-bottom: 20px;
}

.info-text {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;

  .subtext {
    font-size: 16px;
    font-weight: 400;
  }
}

.block {
  @include box-shadow(0.1);
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 40px;
  padding-top: 40px;
  border: 1px solid #EEE;
  border-radius: 5px;
  background-color: $light_gray;
}

.button {
  height: 50px;
  border-radius: 5px;
  background-color: $dark_gray;
  font-size: 16px;
  font-weight: 600;

  &:hover, &:focus, &:active {
    background-color: darken($dark_gray, 10%);
  }
}

.error {
  border: 1px solid red !important;
}



@media only screen and (max-width: 40em) {
  li, input {
    font-size: 14px !important;
  }

  .block {
    padding-left: 20px;
    padding-right: 20px;
  }
}
