@import 'sass-base';

.tabs {
  position: relative;
  bottom: -1px;
  max-width: 75%;
  border: none;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: white;

  .tabs-title {
    @include box-shadow(0.1);
    width: 24.75%;
    margin-right: 0.25%;
    border: 1px solid #EEE;
    border-bottom: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

    &.is-active {
      -webkit-box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.1);
      -moz-box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.1);
      box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.1);
    }

    a {
      padding-right: 0;
      padding-left: 0;
      border: none;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      font-size: 14px;
      text-align: center;
      color: $font_color;

      &[aria-selected='true'] {
        background-color: $light_gray;
        font-weight: 600;
      }
    }
  }
}

.tabs-content {
  border-top-left-radius: 0 !important;
}

.column-title {
  margin-bottom: 10px;
  font-weight: 600;
}

.semester-row {
  margin-bottom: 10px;

  .semester {
    line-height: 90px;

    .number {
      display: inline-block;
      vertical-align: middle;
      line-height: 1;
    }
  }
}

.block-discipline {
  @include transition();
  float: left;
  padding-right: 0;
  padding-left: 0;
  height: 90px;
  max-width: 20%;
  border: 1px solid $light_gray;
  background-color: $gray;
  cursor: pointer;
  font-size: 12px;
  line-height: 90px;

  &:hover {
    background-color: $moon_raker_blue;
  }

  .text {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;

    .name {
      word-wrap: break-word;
    }

    .code {
      display: block;
      font-weight: 600;
    }
  }
}

.discipline {
  cursor: pointer;
}

.reveal {
  min-height: 80%;
  border-radius: 5px;

  .close-button {
    font-size: 50px;
    line-height: 30px;
  }

  .title {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
  }

  .discipline-info {
    position: relative;
    min-height: 100%;

    .accordion {
      .accordion-title {
        @include transition();
        color: $font_color;
        font-size: 16px;
        font-weight: 600;
      }

      .accordion-content {
        background-color: $light_gray;
        overflow-y: auto;
        color: $font_color;
      }
    }

    .modal-block-list {
      margin-left: 0;

      .block-list-item {
        @include transition();
        display: block;
        margin-top: 4px;
        padding: 5px;
        color: $font_color;
        font-size: 16px;
        cursor: pointer;

        &:hover {
          @include box-shadow(0.3);
          background-color: white;
        }

        &.schedule.selected {
          @include box-shadow(0.3);
          background-color: white;
        }

        .class-number {
          font-weight: 600;
        }
      }
    }
  }
}

.schedule-table {
  table-layout: fixed;

  &.modal-table {
    font-size: 12px;
  }

  &.large-table {
    margin-top: 30px;
  }

  td, th {
    padding: 0.6rem 0.4rem;
    text-align: center;
  }

  .table-discipline-large, .table-discipline-modal {
    cursor: pointer;
  }
}

.go-to-top {
  @include transition();
  padding-left: 5px;
  line-height: 50px;
  cursor: pointer;

  &:hover {
    font-weight: 600;
  }
}

.export-button {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 50px;
}



@media only screen and (max-width: 40em) {
  .tabs {
    max-width: 100%;

    .tabs-title {
      a {
        font-size: 12px;
      }
    }
  }

  .block {
    padding-top: 20px !important;
  }

  .semester-row {
    .semester {
      line-height: 30px;
    }
  }

  .discipline {
    min-width: 33%;
  }

  .reveal {
    border-radius: 0;
  }

  .table-wrapper {
    padding: 0 !important;
  }

  .large-table {
    font-size: 12px;
  }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .discipline {
    min-width: 20%;
  }

  .semester-row {
    .semester {
      line-height: 30px;
    }
  }
}

