@import 'base';

.tabs {
  position: relative;
  bottom: -1px;
  max-width: 75%;
  border: none;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: white;

  .tabs-title {
    @include box-shadow(0.1);
    width: 24.75%;
    margin-right: 0.25%;
    border: 1px solid #EEE;
    border-bottom: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

    &.is-active {
      -webkit-box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.1);
      -moz-box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.1);
      box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.1);
    }

    a {
      padding-right: 0;
      padding-left: 0;
      border: none;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      font-size: 14px;
      text-align: center;
      color: $font_color;

      &[aria-selected='true'] {
        background-color: $light_gray;
        font-weight: 600;
      }
    }
  }
}

.tabs-content {
  border-top-left-radius: 0 !important;
}

.column-title {
  margin-bottom: 10px;
  font-weight: 600;
}

.semester-row {
  margin-bottom: 10px;

  .semester {
    line-height: 90px;

    .number {
      display: inline-block;
      vertical-align: middle;
      line-height: 1;
    }
  }
}

.block-discipline {
  @include transition();
  float: left;
  padding-right: 0;
  padding-left: 0;
  height: 90px;
  max-width: 20%;
  border: 1px solid $light_gray;
  background-color: $gray;
  cursor: pointer;
  font-size: 12px;
  line-height: 90px;

  .text {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;

    .name {
      word-wrap: break-word;
    }

    .code {
      display: block;
      font-weight: 600;
    }
  }
}

.discipline {
  cursor: pointer;
}

.reveal {
  min-height: 500px;
}



@media only screen and (max-width: 40em) {
  .tabs {
    max-width: 100%;

    .tabs-title {
      a {
        font-size: 12px;
      }
    }
  }

  .block {
    padding-top: 20px !important;
  }

  .semester-row {
    .semester {
      line-height: 30px;
    }
  }

  .discipline {
    min-width: 33%;
  }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .discipline {
    min-width: 20%;
  }
}

