<div class="wrapper">
  <%= render 'shared/header' %>

  <div class="row">
    <%= form_tag(send_contact_path, method: "post") do %>
      <div class="small-12 medium-offset-1 medium-10 large-offset-2 large-8 columns">Nome:</div>
      <div class="small-12 medium-offset-1 medium-10 large-offset-2 large-8 columns">
        <input type="text" name="name" />
      </div>
      <div class="small-12 medium-offset-1 medium-10 large-offset-2 large-8 columns">Email:</div>
      <div class="small-12 medium-offset-1 medium-10 large-offset-2 large-8 columns">
        <input type="text" name="email" />
      </div>
      <div class="small-12 medium-offset-1 medium-10 large-offset-2 large-8 columns">Mensagem:</div>
      <div class="small-12 medium-offset-1 medium-10 large-offset-2 large-8 columns">
        <textarea name="message" cols="30" rows="10"></textarea>
      </div>
      <div class="small-12 medium-offset-1 medium-10 large-offset-2 large-8 columns end">
        <%= invisible_recaptcha_tags class: 'button float-right', text: 'Enviar' %>
      </div>
    <% end %>
  </div>
</div>

<%= render 'shared/footer' %>
