<h1>MEU HORÁRIO</h1>

<a href="<%= crawl_cs_path %>">Crawlear matérias de Ciência da Computação</a>
<br />
<a href="<%= clear_db_path %>">Limpar database</a>

<% @courses.each do |course| %>
  <h3><a href="<%= course_page_path course.code %>"><%= course.name %></a></h3>
<% end %>
