<div class="wrapper">
  <%= render 'shared/header' %>

  <div class="row">
    <div class="small-12 columns text-center info-text">
      Atualizando...

    </div>
    <div class="small-12 columns text-center info-text">
      <%= image_tag 'skeleton-waiting.jpg' %>
    </div>
  </div>
</div>
